html {
	height: 100%;
}

body {
	background-color: black;
	background-image: url(http://www.planwallpaper.com/static/images/kartandtinki1_photo-wallpapers_02.jpg);
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	height: 100%;
	margin: 0;
}


svg {
	background: rgba(0,0,0,.6);
	margin: auto;
}

svg path {
	-webkit-filter: drop-shadow(0 0 7px #53BE12);
}

#container::before {
  content: "";
  display: inline-block;
  height: 100%;
}


.container {
  width: 600px;
  height: 400px;
}
